@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Welcome to Mantelis Trips Agency</h3>

    <br/>
    <a href="https://github.com/mantasjasikenas/trips-asp-net" target="_blank">GitHub repository</a>
</div>